
/* Home intro section */

.home {
    background-image: url(../images/backgrounds/h_img.jpg);
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.mouse_click {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: block;
}

/* About US section */

.section-header {
    line-height: 30px;
    text-align: center;
}

